p {
    color: blue;
}

h1 {
	text-align: center;
	color: orange;
}

copyright {
	color: red;
	text-align: center;
	padding: 22%;
}

menu {
	color: green;
	text: white;
	text-align: left;
	padding: 10px 0px;
	text-decoration: none;
}
